name: Post Anekdot

on:
  schedule:
    # 3 раза в день по UTC (10:00, 15:00, 20:00 по Москве)
    - cron: '0 7 * * *'   # 10:00 МСК
    - cron: '0 12 * * *'  # 15:00 МСК
    - cron: '0 17 * * *'  # 20:00 МСК
  workflow_dispatch:  # Разрешить ручной запуск

jobs:
  post:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    
    - name: Install dependencies
      run: pip install python-telegram-bot pandas
    
    - name: Run bot
      env:
        BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
        MY_CHAT_ID: ${{ secrets.MY_CHAT_ID }}  # <- ДОБАВЬ ЭТУ СТРОЧКУ!
      run: python bot.py
